
body{
  font-family: monospace;
  margin: 0;
  background: #282c32;
  color:#efefef;
}
header{
  display: inline-block;
  margin-top: 3em;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  /*overflow: hidden;*/
}
main {
  display: inline-block;
  width:100%;
  background-color: rgba(40, 44, 50, 0.75)
}
main p{
  margin-top: 2em
}
p{
  text-align: center;
}
h1, h2 {
font-weight: 100;
margin-left: 1em;
text-align: center;
}
#ascii-logo{
  margin-left: 1em;
  color: lightgreen;
  -webkit-transition: color ease-out 2s;
  -moz-transition: color ease-out 2s;
  -o-transition: color ease-out 2s;
  transition: color ease-out 2s ;
}
#char-code{
  width:100%;
  display: inline-block;
}
table{
  text-align: center;
  width:92%;
  display: inline-block;
  margin: 2em 4% 2em;
  box-sizing:border-box;
  float: left;
}
a{
  color:#ff66ff;
  text-decoration: none;
}
i{
  font-style: normal;
}
table:first-of-type{
  padding-left: 0
}
table:last-of-type{
  padding-right:0
}
caption{
  font-size: 0.8em;
}
table td:first-of-type, table th:first-of-type{
  width: 2.3em;
  border-right-width: 0;
}
.print-chars td:last-of-type, .print-chars th:last-of-type {
  width: 2.3em;
  border-left-width: 0;
}
.inv{
  color:transparent;
}
td, th, section{
  width: 100%;
  border-width: 8px;
  border-bottom-width: 0;
  border-style :solid;
  border-color : #aaa;
  border-image-source: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACuSURBVGiB7dnBCcIwFMbx98QlnMMFHKJOUOitO3SH3IRM0A7hADpTeukhxAoBbd9T/r9L4KOEfISGlogUxhiGMYahzL14t76DwVo2QRFvdIrhVmTnZXzmYdP2Xc2Ete/Xte2rnluZ77KM9zw8quojD1JKJxGRMv85nFrGKAIAALAjvn6NUcQbinhDEW8oAgAAsCP+2Y1RxButvcf+4F581bfv2f9mR15wahmjiDcz45RMuYUy1icAAAAASUVORK5CYII=) ;
  /*border-image-source: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0icmdiYSgyMzksIDIzOSwgMjM5LCAwLjQpIj4NCjxyZWN0IHg9JzUnIHk9JzAnIHdpZHRoPScxJyBoZWlnaHQ9JzEwJy8+DQo8cmVjdCB4PSc1JyB5PScyMCcgd2lkdGg9JzEnIGhlaWdodD0nMTAnLz4NCjxyZWN0IHg9JzUnIHk9JzQwJyB3aWR0aD0nMScgaGVpZ2h0PScxMCcvPg0KPHJlY3QgeD0nNDUnIHk9JzAnIHdpZHRoPScxJyBoZWlnaHQ9JzEwJy8+DQo8cmVjdCB4PSc0NScgeT0nMjAnIHdpZHRoPScxJyBoZWlnaHQ9JzEwJy8+DQo8cmVjdCB4PSc0NScgeT0nNDAnIHdpZHRoPScxJyBoZWlnaHQ9JzEwJy8+DQo8cmVjdCB4PScwJyB5PSc1JyB3aWR0aD0nMTAnIGhlaWdodD0nMScvPg0KPHJlY3QgeD0nMjAnIHk9JzUnIHdpZHRoPScxMCcgaGVpZ2h0PScxJy8+DQo8cmVjdCB4PSc0MCcgeT0nNScgd2lkdGg9JzEwJyBoZWlnaHQ9JzEnLz4NCjxyZWN0IHg9JzAnIHk9JzQ1JyB3aWR0aD0nMTAnIGhlaWdodD0nMScvPg0KPHJlY3QgeD0nMjAnIHk9JzQ1JyB3aWR0aD0nMTAnIGhlaWdodD0nMScvPg0KPHJlY3QgeD0nNDAnIHk9JzQ1JyB3aWR0aD0nMTAnIGhlaWdodD0nMScvPg0KPC9zdmc+) ;*/
  border-image-slice : 33% 33%;
  border-image-repeat :round;
  overflow: hidden;
}
table tr:last-of-type > td {
  border-bottom-width: 8px;
}
th {
padding: 0.5em 0;
}
tr:hover{
  color:lightsteelblue;
  cursor:pointer;
}
tr:first-child:hover{
  color:inherit;
  cursor: auto;
}

section{
  display: inline-block;
  padding: 1.8em 0.3em 1.4em;
  border-left-width: 0;
  border-right-width:0;
}
.row{
  width:100%;
}
pre {
  margin:0;

}
#ascii-logo.darkness{
  color: #282c32;
}

 td.details:first-of-type,
 td.details:last-of-type {
  border-left-width: 8px;
  border-right-width: 8px;
  text-align: left;
  padding-left: 1em;
}
td > ul {
  margin: 0.5em 0;
}

@media (min-width: 544px) {
  .row{
    width: 95%;
    margin: 0 auto;
  }
  .group2{
    display: inline-block;
    width: 100%;
  }
  table{
    width:46%;
    margin: 2em 2% 2em;
  }
}

@media (min-width: 992px) {
  .row{
    width: 90%;
    margin: 0 auto;
  }
  main{
    width: 60%;
  }
  p{
    margin-left: 1.5em;
  }
  header{
    float: left;
    width: 40%;
    position: static;
    transform: none;
  }
  h1, h2, p{
    text-align: left;
  }
  .group2{
    display: block;
  }
  table{
    width:23%;
    margin: 2em 1% 2em;
  }
}
